
@import url('https://fonts.cdnfonts.com/css/lvdc-game-over');  
@import url('https://fonts.cdnfonts.com/css/game-over-dude');

:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
}

body {
    background-image: black;
    font-family: 'LVDC Game Over 2', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

img{
    height: 60px;
    position: fixed;
    top: 30%;
    left: 105%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#rock{
    left: 90%;
}

p{
    font-size: 8px;
margin-top: 10px;
}

.header{
    background-color: var(--header);
}

#containerSections{

    height: 750px;
    display: flex;
}

#resultsTable{
    font-size: 8px;
    text-align:center;

}
#resultsTable h1{

}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .messageIntro.distributionIntro{
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .centeredButton{
    position: fixed;
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }



